<!-- views/about.ejs -->

<!DOCTYPE html>

<html>

<head>

  <title>About - My Portfolio</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <%- include("partials/_header") %>

  &nbsp;

  &nbsp;

  <div class="container">

    <div class="about">

     <img src="/images/myPic.jpg" alt="Emmanuel" class="picture">

     

      <p>

        Experienced project manager transitioning to a software developer. 
        Currently in my third semester of software development studies, combining
        a proven track record in project management with a passion for coding and 
        problem-solving. Dedicated to delivering innovative software solutions and
        contributing to the tech industry's growth.
        You can download my resume<a href="https://docs.google.com/document/d/1lsovhnDFPRZU1bNEteujJ6VQXLuHJRU507QH8jKcriY/edit" target="_blank" download">here</a>

        </p>

    </div>

 

    &nbsp;

    &nbsp;

    <div class="resume-link">

     

    </div>

  </div>

</body>

<%- include("partials/_footer") %>

</html>

 

