<!DOCTYPE html>

<html>

<head>

  <title>Home - My Portfolio</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<%- include("partials/_header") %>

  <div class="container">

    <div class="Content">

      <br>

      <br>

       <h1>Hi! My name is Emmanuel Oyama!</h1>

     <br>

      <h2>My Mission Statement:</h2>

      <p>At Emmayama Software Development, we merge IT infrastructure, project management, and software 
        <br>development to deliver innovative solutions that empower businesses and communities.</p>

 

      <h2> My Goals:</h2>

      <ul style="list-style-image:url('images/bullets_circle_.gif');">

        <li>Develop strong problem-solving skills to tackle complex technical challenges.</li>

        <li>Foster teamwork and collaboration within project teams and the software development community.</li>

        <li>Strive to write clean, maintainable, and efficient code.</li>

        <li>Pursue opportunities for career advancement and specialization.</li>

       </ul>

    </div>

</div>

</body>

<%- include("partials/_footer") %>

</html>

 

 

