

<!-- views/projects.ejs -->

<!DOCTYPE html>

<html>

<head>

  <title>Projects - My Portfolio</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <%- include("partials/_header") %>

  &nbsp;

  &nbsp;

   <div class="project-main">

    <div class="project1">

      <h2>Calculator</h2>

      <img src="/images/calculator.jpg" alt="Project 1">

      <p>

       Our Digital Calculator project offers a user-friendly and
       versatile tool for basic arithmetic and scientific calculations.<br>
       It features a responsive design, customizable themes, memory storage,<br> 
       and a history log. It's accurate, accessible, and open-source, serving <br>
       students, professionals, and anyone seeking precise calculations. <br>
     </p>

    </div>

    <div>&nbsp;

      &nbsp;

      &nbsp;

      &nbsp;&nbsp;

      &nbsp;</div>

    <div class="project2">

      <h2>BugSmasher</h2>

      <img src="/images/BugSmasher.jpg" alt="Project 2">

      <p>

        The ultimate challenge in digital insect annihilation.<br>
        Crush bugs, earn points, and save the digital world from a pixelated<br>
        infestation! Guaranteed to provide hours of addictive, pixel-popping fun!<Br>

      </p>

    </div>

    <div class="project3">

      <h2>Electronic wallet</h2>

      <img src="/images/e-wallet.jpg" alt="Project 3">

     

      <p>

        An e-wallet is a digital tool for secure money storage and transactions,<br>
        simplifying payments and transfers via computer or mobile devices.<br>

      </p>

    </div>

  </div>

</body>

<%- include("partials/_footer") %>

</html>
