<!-- views/services.ejs -->

<!DOCTYPE html>

<html>

<head>

  <title>Services - My Portfolio</title>

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>

  <%- include("partials/_header") %>

  <div class="container">

    <div class="service">

     <h2>Project Management</h2>

     <ul style="list-style-image:url('images/bullets_circle_.gif');">

      <li>Expertise in Agile project management practices for dynamic and adaptive project execution</li>

      <li>Proficiency in the traditional waterfall methodology for structured and well-defined project management.</li>

    </ul>


    </div>

    <div class="service">

        <h2>Frontend Web Development</h2>
        
        <ul style="list-style-image:url('images/bullets_circle_.gif');">
        
        <li>Crafting engaging and user-friendly front-end interfaces</li>
        
        <li>Utilizing HTML, CSS, and JavaScript to create visually appealing and responsive web applications.</li>
        
        </ul>
     </div>

    <div class="service">

     
      <h2>Backend Web Development</h2>

      <ul style="list-style-image:url('images/bullets_circle_.gif');">

       <li> Building robust and scalable server-side systems.</li>

       <li> Proficiency in back-end languages such as Node.js, oracle, C#, SQL, Python, or Java.</li>
  

       </ul>

    </div>

    <div class="service">

     

      <h2>Programming</h2>

      <ul style="list-style-image:url('images/bullets_circle_.gif');">

       <P> Expert coding skills in various programming languages such as:</P>

        <li> Python</li>

        <li> Powershell</li>

        <li> C++</li>

        <li> PL/SQL</li>

        <li> Ruby</li>


       </ul>

    </div>

  </div>

</body>

<%- include("partials/_footer") %>

</html>